<header class="flex justify-evenly w-full p-6">
    <div class="w-1/8">
        <p class="text-center text-6xl hover:cursor-pointer font-bold">
            <a href="/">CG</a>
        </p>
        <!-- <img src="" alt="" srcset=""> -->
    </div>
    <nav class="w-1/2 m-auto">
        <ul class="flex justify-evenly font-semibold text-xl">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/experience">Experience</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/skills">Skills</a>
            </li>
            <li>
                <a href="/zurich">Zurich</a>
            </li>
        </ul>
    </nav>
    <div class="w-1/8 my-auto">
        <p class="text-center text-2xl hover:cursor-pointer font-semibold">Lang</p>
        <!-- <img src="" alt=""> -->
    </div>
</header>
