---
import Project from "../components/Projects/Project.astro";
import Layout from "../layouts/Layout.astro";

interface IProject {
  name: string;
  languages?: string[];
  sm_description: string;
  lg_description?: string;
  img: string;
  github_link?: string;
}

const projects: IProject[] = [
  {
    name: "CFE Workers Overtime",
    sm_description:
      "Development of a system to manage and validate overtime hours for CFE personnel across multiple regions.",
    lg_description:
      "Web application to manage and record the overtime of the workers of the CFE (Comisión Federal de Electricidad). The system allows workers to register their overtime hours, which are then sent to their respective supervisors for review and approval. Project developed during my internship at CFE.",
    languages: ["dotnet", "react", "sqls", "git", "py"],
    img: "/img/cfe.webp",
  },
  {
    name: "Balluff Maintenance System",
    sm_description:
      "System for recording, tracking and validating machine maintenance in production environments.",
    lg_description:
      "Web application for managing and scheduling maintenance tasks for machines on the production line. The system allows users to assign maintenance tasks, set deadlines, and track the status of each task to ensure optimal operation of the production line.",
    languages: ["java", "py", "psql", "pandas", "js", "git"],
    img: "/img/balluff.webp",
  },
  {
    name: "Balluff Warehouse Orders Management System",
    sm_description:
      "Application for tracking materials from warehouse to production with order control and precision weighing.",
    lg_description:
      "Desktop application for managing production line orders sent to the warehouse. The system records and maintains a history of all orders, enabling better traceability and inventory planning. It communicates with an industrial scale via a serial RS-232 connection to ensure accurate weight measurements and order control.",
    languages: ["py", "psql", "git"],
    img: "/img/balluff.webp",
  },
  {
    name: "Astro Eye",
    sm_description:
      "Platform for exploring and analyzing large-scale NASA imagery datasets.",
    lg_description:
      "Web application that allows users to explore and learn about NASA's astronomical images. Users can visualize HD images, read detailed descriptions, and access additional information about each image. The application provides an engaging way to discover the wonders of the universe through NASA's vast collection of images. Project developed as part of the NASA Space Apps Challenge 2025 hackathon.",
    languages: ["react", "git", "gcp", "node", "mysql"],
    img: "/img/nasa.webp",
    github_link: "https://github.com/CarlosGal19/AstroEye-Frontend",
  },
  {
    name: "Yo Voy Ags App",
    sm_description:
      "Application for recharging public transport cards, tracking routes in real time, and providing live user feedback.",
    lg_description:
      "Mobile application for the management of public transport in Aguascalientes. It allows users to locate routes, stops, recharge their transport cards, and provide feedback on the service. Developed for the Hackathon Mobility 2025 by Coordinación General de Movilidad de Aguascalientes and Instituto de Educación de Aguascalientes (IEA).",
    languages: ["nest", "react-native", "psql", "gcp", "mongo", "ino"],
    img: "/img/yo_voy.jpg",
    github_link: "https://github.com/Codex-Utma/Yo_Voy_Ags_App",
  },
];
---

<Layout title="Projects">
  <main class="flex flex-col gap-20 py-16">
    <!-- HEADER -->
    <section class="max-w-3xl mx-auto text-center flex flex-col gap-4 px-4">
      <h1 class="text-6xl font-bold">Projects</h1>
      <p class="text-lg font-light leading-relaxed">
        A selection of projects focused on real-world problem solving, system
        design, and scalable applications across different industries.
      </p>
    </section>

    <!-- PROJECTS GRID -->
    <section class="max-w-5xl mx-auto w-full flex flex-col gap-10 px-4">
      <div class="flex items-center md:justify-between justify-center">
        <h2 class="text-4xl font-semibold">All projects</h2>
      </div>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {projects.map((project) => <Project {...project} />)}
      </div>
    </section>
  </main>
</Layout>
