---

---

<header>
    <div>
        <p>CG</p>
        <!-- <img src="" alt="" srcset=""> -->
    </div>
    <nav>
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </nav>
    <div>
        <p>Lang</p>
    </div>
</header>
